*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

html{
    scroll-behavior: smooth;
}

:root{
    --black: #232323; 
    --light: #fff;
    --laranja: rgb(230, 146, 50);
}

header{
    background-color: #232323;
    font-size: 12px;
    padding: 1.25rem;
    text-align: center;
    position: relative;
}

header a{
    text-decoration: none;
    margin: 0 1rem;
    color: var(--light);
    font-family: sans-serif;
}

.hero{
    position: relative;
    min-height: 100vh;
    text-align: center;
    top: 20vh;
}

.image-main{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 3.375rem;
    object-fit: cover;
    object-position: top;
}

.hero__text{
    color: var(--light);
    margin-top: 1rem;
}

.-title {
    font-weight: 300;
    font-size: 3rem;
}

.button a{
    text-decoration: none;
    font-weight: 700;
    color: var(--black);
}

.button{
    background-color: var(--laranja);
    padding: .5rem;
    border: none;
    margin-top: 1rem;
    border-radius: 5px;
}

#cardapio{
    text-align: center;
}

#cardapio h2{
    font-family: sans-serif;
    font-size: 2rem;
    margin: 2rem;
}

.artigo_img{
    width: 26rem;
    height: auto;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.artigo{
    display: inline-block;
    height: 25rem;
    width: 26rem;
    background-color: #ececec;
    margin: 1rem 1rem;
    border-radius: 8px;
}
.artigo_p{
    width: 80%;
    margin: 1rem;
    text-align: left;
    font-family: sans-serif;
}

.artigo_strong{
    display: block;
    text-align: left;
    margin: 1rem;
    font-family: sans-serif;
}

#sobre{
    min-height: 25vh;
    background: linear-gradient(rgba(0,0,0,0.1), var(--black));
    margin-top: 3rem;
    position: relative;
}

.sobre_img{
    width: 100%;
    height: 25vh;
    object-fit: cover;
    z-index: -1;
    position: absolute;
}

.sobre_text{
    color: var(--light);
    text-align: center;
    position: relative;
    top: 7vh;
}

.sobre_text h2{
    font-family: sans-serif;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.sobre_text p{
    font-weight: 100;
    font-family: sans-serif;
    color: #ebe8e8;
}

#contato{
    text-align: center;
}

#contato h2{
    font-family: sans-serif;
    font-size: 2rem;
    margin: 2rem;
}

#contato > p{
    font-family: sans-serif;
    margin: 2rem;
}

address{
    margin: 2rem;
}

.address{
    display: inline-block;
    width: 25rem;
}

.link{
    color: var(--laranja);
}

#contato button{
    margin-bottom: 3rem;
}

footer{
    background-color: var(--black);
    text-align: center;
    padding: 2rem;
}